<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/gambar.png" class="img-thumbnail rounded-circle" alt="gambar" width="200" >
            <h1 class="display-4">Gambar mu dell</h1>
        </div>
    </div>
</div>



